# -----------------------------------------------
# Server
# -----------------------------------------------
SERVER_BASE_URL=http://localhost:8080

# -----------------------------------------------
# Database (MySQL)
# ex) jdbc:mysql://localhost:3306/tikkle?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
# -----------------------------------------------
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# -----------------------------------------------
# Redis
# -----------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# -----------------------------------------------
# Swagger
# -----------------------------------------------
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true

# -----------------------------------------------
# OAuth
# -----------------------------------------------
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
