# -----------------------------------------------
# Database (MySQL)
# ex) jdbc:mysql://localhost:3306/tikkle?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
# -----------------------------------------------
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# -----------------------------------------------
# Redis
# -----------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# -----------------------------------------------
# Swagger
# -----------------------------------------------
SPRINGDOC_API_DOCS_ENABLED=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
