# -----------------------------------------------
# Deployment
# -----------------------------------------------
GITHUB_REPOSITORY=tikkle-moa/tikkle
IMAGE_TAG=latest

DOMAIN_NAME=tikkle.example.com
CERTIFICATE_NAME=tikkle.example.com

# -----------------------------------------------
# Server
# -----------------------------------------------
APP_PRODUCTION=true
SERVER_BASE_URL=https://${DOMAIN_NAME}
FRONTEND_URL=https://${DOMAIN_NAME}

# -----------------------------------------------
# Database (MySQL)
# ex) jdbc:mysql://localhost:3306/tikkle?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
# -----------------------------------------------
MYSQL_DATABASE=tikkle
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# -----------------------------------------------
# Redis
# -----------------------------------------------
REDIS_PASSWORD=

# -----------------------------------------------
# Swagger
# -----------------------------------------------
SPRINGDOC_API_DOCS_ENABLED=false
SPRINGDOC_SWAGGER_UI_ENABLED=false

# -----------------------------------------------
# Springwolf AsyncAPI 문서
# -----------------------------------------------
SPRINGWOLF_ENABLED=false

# -----------------------------------------------
# OAuth
# -----------------------------------------------
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# -----------------------------------------------
# JWT
# -----------------------------------------------
JWT_SECRET=

# -----------------------------------------------
# Toss Payments
# -----------------------------------------------
TOSS_PAYMENTS_BASE_URL=https://api.tosspayments.com
TOSS_PAYMENTS_SECRET_KEY=
