# -----------------------------------------------
# Database (MySQL)
# -----------------------------------------------
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# -----------------------------------------------
# Redis
# -----------------------------------------------
REDIS_PASSWORD=

# -----------------------------------------------
# JWT
# -----------------------------------------------
JWT_SECRET=