@import "tailwindcss";

@theme {
  --color-brand-primary: #7c3aed;
  --color-brand-accent: #ec4899;
  --color-brand-ink: #17171c;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-transparent {
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
